body{
  text-align:center;
  font-family:Georgia, sans-serif;
  background-color:#8fd8d2;
  color:#ffff;
  margin:0px 0px 30px 0px;
  }

h1{
  font-size:60px;
  font-weight:300;
  font-family:
}

h2{
  color:#df744a;
  font-size:40px;
}

h3{
  font-size:22px;
  font-style:italic;
}

p{
  font-size:20px;
  line-height:1,5
}

.titulo-chiclete{
  color:#ff7fb0;
}

.titulo-amarelo{
  color:#ffd93b;
}

.titulo-lilas{
  color:#d8acab;
}

.titulo-rose{
  color:#efa593
}

section{
  width:60%;
  margin:0 auto;
}

section section{
  width:100%
}

img{
  width:100%;
}

ul{
  list-style-type:none;
  line-height:2;
  padding-left:0;
}

a{
  text-decoration:none;
  color:#bb7c71;
  font-weight:700;
}

.principal a{
  color:#D2B4DE;
  text-decoration:underline;
  font-weight:normal;
}

.principal{
  background-color:#fedcd2;
  height:40px;
  max-width:70%;
  margin:0 auto;
  }

.principal li{
  display:inline-block;
  line-height:2.5;
  margin:0 89px; 
}

